# fly.toml app configuration file generated for the-arena-api
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "the-arena-api"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true

[[services]]
  protocol = "tcp"
  internal_port = 3000
  processes = ["app"]

  [services.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 800

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.tcp_checks]
    enabled = true
    grace_period = "1s"
    interval = "15s"
    timeout = "2s"

[checks]
  [checks.status]
    type = "http"
    interval = "30s"
    timeout = "5s"
    grace_period = "5s"
    method = "get"
    path = "/health"
    protocol = "http"
    success_threshold = 1
    failure_threshold = 2
